# Exclusión del entorno de PyCharm
.idea/
*.iml

# Exclusión de entornos virtuales y cachés de Python
.venv/
__pycache__/

# Exclusión de datos  (Para que el repositorio no colapse)
data/
*.npy
*.csv
*.pdb
*.pml
*.fasta
*.ent
*.pt