*.pt
data/processed/*.pt

__pycache__/
*.py[cod]
*$py.class
*.so

.ipynb_checkpoints/

env/
venv/
.env/
.venv/
miniconda3/

.idea/
.vscode/
*.swp
*.swo

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db